.c 
{ 
	max-width: 100%;
	height: 80%;
	margin: 5%;
	color: white;
}



.tab_active
{

	position: relative;
	padding: 16px 20px;
	padding-top: 10px;
	height:10%;
	border-radius: 5px 5px 0 0;
	margin: 2px;
	background-color: #E4F0FF;
	border-left:2px solid #DDDDDD;
	border-right:2px solid #DDDDDD;
	border-top:2px solid #DDDDDD;
	color: white;
	z-index: 20;
}


.tab_active a
{
	padding:20px 20px 40px 20px;
	text-decoration:none;	
	color:navy;
	font-weight: bold;
	font-family: "arial";
}

.tab_inactive
{
	position: relative;
	padding: 12px 20px;
	padding-top: 10px;
	height:10%;
	border-radius: 5px 5px 0 0;
	margin: 2px;
	background-color: white;
	border-left:2px solid #DDDDDD;
	border-right:2px solid #DDDDDD;
	border-top:2px solid #DDDDDD;
	color: white;
}

.tab_inactive a
{
	border:2px;
	border-color: #E4F0FF;
	padding:20px 20px 40px 20px;
	text-decoration:none;	
	color:grey;
	font-weight: bold;
	font-family: "arial";
}

.tabcontainer
{
	margin-left:3%;
	height:4%;
	z-index=5;
}

.body
{
	position: relative;
	top:1%;
	max-width: 100%;
	height: 94%;
	border: 2px solid #9AB3D2;
	border-radius: 15px;
	background-color: #E4F0FF;
	color: white;
}

.body1
{
	display: inline-block;
	background-color: white;	
	margin-top: 4%;
	margin-left: 3%;
	width: 40%;
	height: 64%;
	border-radius: 15px;
	border: 2px solid #9AB3D2;
	padding:2.5%;
	padding-top: 1.5%;
	font-size: 125%;	
}



.body1 p,h1
{
	text-align:left;
	font-family: "arial";
	color:grey;
}


#blue
{
	text-align:left;
	color:blue;
}


.body2
{
	float:right;	
	margin-top: 4%;
	margin-right: 3%;
	width: 40%;
	height: 64%;
	background-color: white;
	border-radius: 15px;	
	border: 2px solid #9AB3D2;
	padding:2.5%;	
	padding-top: 1.5%;
	font-size: 125%;
	font-family: "arial";
}



.button
{
	display: inline;
	position:relative;
	bottom:3%;
	left: 12%;
	z-index: 2;
	text-align: center;
	padding:2%;
	font-size: 100%;
}

.button a
{
	background-color:#56A201;
	color:white;
	text-decoration:none;
	font-family: "arial";
	font-size: 150%;
	font-weight: bold;
	border-radius: 5px;
	padding: 2% 3%;
}


.pic
{
	display: inline;
	color:red;
	width:100%;
	height:70%;
}
